sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 45em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 80em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 80em;
}
.stl_06 {
	height: 4.5em;
}
.ie .stl_06 {
	height: 45em;
}
@font-face {
	font-family:"IDNVAN+Ó×Ô²";
	src:url("84751354-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 5.002em;
	font-family: "IDNVAN+Ó×Ô²", "Times New Roman";
	color: #1CB7BB;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0.0036em;
}

.ie .stl_09 {
	letter-spacing: 0.288px;
}
@font-face {
	font-family:"STDOGM+Arial";
	src:url("4338890e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 2em;
	font-family: "STDOGM+Arial";
	color: #A6A6A6;
}
.stl_11 {
	line-height: 1.117188em;
}
.stl_12 {
	letter-spacing: -0.0008em;
}

.ie .stl_12 {
	letter-spacing: -0.0268px;
}
@font-face {
	font-family:"ENLFHC+ÐÂËÎÌå";
	src:url("827cf180-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 2.672em;
	font-family: "ENLFHC+ÐÂËÎÌå";
	color: #FFFFFF;
}
.stl_14 {
	letter-spacing: -0.0011em;
}

.ie .stl_14 {
	letter-spacing: -0.0489px;
}
@font-face {
	font-family:"FTPBKR+Î¢ÈíÑÅºÚ";
	src:url("704c2334-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 2.33em;
	font-family: "FTPBKR+Î¢ÈíÑÅºÚ";
	color: #3366CC;
}
.stl_16 {
	line-height: 1.319824em;
}
.stl_17 {
	letter-spacing: 0em;
}

.ie .stl_17 {
	letter-spacing: 0px;
}
.stl_18 {
	font-size: 2.332em;
	font-family: "FTPBKR+Î¢ÈíÑÅºÚ";
	color: #1FBB9F;
}
.stl_19 {
	font-size: 2.332em;
	font-family: "FTPBKR+Î¢ÈíÑÅºÚ";
	color: #3366CC;
}
.stl_20 {
	letter-spacing: -0.0009em;
}

.ie .stl_20 {
	letter-spacing: -0.032px;
}
@font-face {
	font-family:"SCMMPQ+Î¢ÈíÑÅºÚ,Bold";
	src:url("f47249ad-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 2.332em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #3366CC;
}
.stl_22 {
	font-size: 2.332em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #1FBB9F;
}
@font-face {
	font-family:"KRJWUN+ÐÂËÎÌå";
	src:url("22d91684-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 4em;
	font-family: "KRJWUN+ÐÂËÎÌå", "Times New Roman";
	color: #FFFFFF;
}
.stl_24 {
	letter-spacing: 0.005em;
}

.ie .stl_24 {
	letter-spacing: 0.32px;
}
.stl_25 {
	font-size: 4em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_26 {
	font-size: 2em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_27 {
	font-size: 6.002em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #017AD3;
}
@font-face {
	font-family:"NQBEEU+Arial,Bold";
	src:url("209c778a-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 6em;
	font-family: "NQBEEU+Arial,Bold";
	color: #20BFA3;
}
.stl_29 {
	letter-spacing: -0.0189em;
}

.ie .stl_29 {
	letter-spacing: -1.8115px;
}
.stl_30 {
	font-size: 3em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #1CB7BB;
}
.stl_31 {
	font-size: 2.002em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #017AD3;
}
.stl_32 {
	letter-spacing: 0.0513em;
}

.ie .stl_32 {
	letter-spacing: 1.6431px;
}
@font-face {
	font-family:"VCTLLF+Î¢ÈíÑÅºÚ";
	src:url("97ba6457-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 2.002em;
	font-family: "VCTLLF+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #1F3240;
}
.stl_34 {
	font-size: 2em;
	font-family: "VCTLLF+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #1F3240;
}
.stl_35 {
	letter-spacing: 0.0218em;
}

.ie .stl_35 {
	letter-spacing: 0.6973px;
}
.stl_36 {
	letter-spacing: 0.0219em;
}

.ie .stl_36 {
	letter-spacing: 0.7021px;
}
.stl_37 {
	font-size: 1.5em;
	font-family: "VCTLLF+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #FFFFFF;
}
.stl_38 {
	letter-spacing: 0.0013em;
}

.ie .stl_38 {
	letter-spacing: 0.032px;
}
.stl_39 {
	font-size: 2em;
	font-family: "STDOGM+Arial";
	color: #1F3240;
}
.stl_40 {
	letter-spacing: 0.008em;
}

.ie .stl_40 {
	letter-spacing: 0.2572px;
}
.stl_41 {
	letter-spacing: 0.0001em;
}

.ie .stl_41 {
	letter-spacing: 0.0033px;
}
.stl_42 {
	font-size: 3.002em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #1CB7BB;
}
.stl_43 {
	letter-spacing: -0.0007em;
}

.ie .stl_43 {
	letter-spacing: -0.032px;
}
.stl_44 {
	font-size: 1.67em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #017AD3;
}
.stl_45 {
	letter-spacing: -0.0005em;
}

.ie .stl_45 {
	letter-spacing: -0.0123px;
}
.stl_46 {
	font-size: 1.332em;
	font-family: "VCTLLF+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #404040;
}
.stl_47 {
	font-size: 1.332em;
	font-family: "FTPBKR+Î¢ÈíÑÅºÚ";
	color: #404040;
}
.stl_48 {
	font-size: 1.332em;
	font-family: "VCTLLF+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_49 {
	font-size: 1.33em;
	font-family: "STDOGM+Arial";
	color: #000000;
}
.stl_50 {
	font-size: 1.33em;
	font-family: "VCTLLF+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_51 {
	letter-spacing: 0.001em;
}

.ie .stl_51 {
	letter-spacing: 0.022px;
}
.stl_52 {
	font-size: 1.33em;
	font-family: "VCTLLF+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #404040;
}
.stl_53 {
	letter-spacing: 0.0009em;
}

.ie .stl_53 {
	letter-spacing: 0.0194px;
}
.stl_54 {
	letter-spacing: 0.0004em;
}

.ie .stl_54 {
	letter-spacing: 0.0083px;
}
.stl_55 {
	font-size: 1.67em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_56 {
	font-size: 1.17em;
	font-family: "FTPBKR+Î¢ÈíÑÅºÚ";
	color: #FFFFFF;
}
.stl_57 {
	letter-spacing: -0.0002em;
}

.ie .stl_57 {
	letter-spacing: -0.0029px;
}
.stl_58 {
	letter-spacing: -0.0001em;
}

.ie .stl_58 {
	letter-spacing: -0.0025px;
}
.stl_59 {
	font-size: 1.672em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_60 {
	letter-spacing: -0.0017em;
}

.ie .stl_60 {
	letter-spacing: -0.0454px;
}
.stl_61 {
	letter-spacing: -0.0012em;
}

.ie .stl_61 {
	letter-spacing: -0.032px;
}
.stl_62 {
	letter-spacing: -0.001em;
}

.ie .stl_62 {
	letter-spacing: -0.0183px;
}
.stl_63 {
	letter-spacing: -0.0004em;
}

.ie .stl_63 {
	letter-spacing: -0.0187px;
}
.stl_64 {
	font-size: 1.17em;
	font-family: "VCTLLF+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #FFFFFF;
}
.stl_65 {
	letter-spacing: -0.0023em;
}

.ie .stl_65 {
	letter-spacing: -0.0432px;
}
@font-face {
	font-family:"LUTWGE+Î¢ÈíÑÅºÚ,Bold";
	src:url("90c15f54-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_66 {
	font-size: 2em;
	font-family: "LUTWGE+Î¢ÈíÑÅºÚ,Bold";
	color: #FFFFFF;
}
.stl_67 {
	letter-spacing: -0.0003em;
}

.ie .stl_67 {
	letter-spacing: -0.0092px;
}
.stl_68 {
	font-size: 1.672em;
	font-family: "SCMMPQ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #017AD3;
}
.stl_69 {
	font-size: 1.17em;
	font-family: "FTPBKR+Î¢ÈíÑÅºÚ";
	color: #404040;
}
.stl_70 {
	letter-spacing: -0.0019em;
}

.ie .stl_70 {
	letter-spacing: -0.0358px;
}
.stl_71 {
	font-size: 1.5em;
	font-family: "STDOGM+Arial";
	color: #000000;
}
.stl_72 {
	font-size: 6.002em;
	font-family: "NQBEEU+Arial,Bold";
	color: #017AD3;
}
.stl_73 {
	font-size: 1.67em;
	font-family: "LUTWGE+Î¢ÈíÑÅºÚ,Bold";
	color: #017AD3;
}
.stl_74 {
	letter-spacing: -0.0006em;
}

.ie .stl_74 {
	letter-spacing: -0.0157px;
}
.stl_75 {
	font-size: 1.5em;
	font-family: "FTPBKR+Î¢ÈíÑÅºÚ";
	color: #404040;
}
.stl_76 {
	letter-spacing: -0.0015em;
}

.ie .stl_76 {
	letter-spacing: -0.0355px;
}
.stl_77 {
	letter-spacing: -0.0092em;
}

.ie .stl_77 {
	letter-spacing: -0.2463px;
}
.stl_78 {
	letter-spacing: -0.0013em;
}

.ie .stl_78 {
	letter-spacing: -0.0303px;
}
.stl_79 {
	letter-spacing: -0.0078em;
}

.ie .stl_79 {
	letter-spacing: -0.1881px;
}
.stl_80 {
	letter-spacing: -0.0066em;
}

.ie .stl_80 {
	letter-spacing: -0.1585px;
}
.stl_81 {
	letter-spacing: -0.002em;
}

.ie .stl_81 {
	letter-spacing: -0.0476px;
}
.stl_82 {
	letter-spacing: 0.0012em;
}

.ie .stl_82 {
	letter-spacing: 0.0315px;
}
.stl_83 {
	letter-spacing: -0.0014em;
}

.ie .stl_83 {
	letter-spacing: -0.0256px;
}
.stl_84 {
	font-size: 1.502em;
	font-family: "STDOGM+Arial";
	color: #000000;
}
.stl_85 {
	letter-spacing: 0.0003em;
}

.ie .stl_85 {
	letter-spacing: 0.0133px;
}
.stl_86 {
	letter-spacing: 0.0002em;
}

.ie .stl_86 {
	letter-spacing: 0.004px;
}
.stl_87 {
	font-size: 5.502em;
	font-family: "KRJWUN+ÐÂËÎÌå", "Times New Roman";
	color: #1CB7BB;
}
.stl_88 {
	letter-spacing: 0.0033em;
}

.ie .stl_88 {
	letter-spacing: 0.288px;
}
.stl_89 {
	font-size: 5.002em;
	font-family: "ENLFHC+ÐÂËÎÌå";
	color: #1CB7BB;
}
.stl_90 {
	letter-spacing: 0.0038em;
}

.ie .stl_90 {
	letter-spacing: 0.304px;
}
.stl_91 {
	font-size: 1.67em;
	font-family: "KRJWUN+ÐÂËÎÌå", "Times New Roman";
	color: #1CB7BB;
}
.stl_92 {
	letter-spacing: 0.0035em;
}

.ie .stl_92 {
	letter-spacing: 0.0943px;
}
.stl_93 {
	font-size: 1.5em;
	font-family: "KRJWUN+ÐÂËÎÌå", "Times New Roman";
	color: #000000;
}
.stl_94 {
	font-size: 2em;
	font-family: "KRJWUN+ÐÂËÎÌå", "Times New Roman";
	color: #1CB7BB;
}
.stl_95 {
	font-size: 1.33em;
	font-family: "KRJWUN+ÐÂËÎÌå", "Times New Roman";
	color: #1CB7BB;
}
.stl_96 {
	font-size: 1.17em;
	font-family: "ENLFHC+ÐÂËÎÌå";
	color: #000000;
}
.stl_97 {
	letter-spacing: 0.0007em;
}

.ie .stl_97 {
	letter-spacing: 0.0145px;
}
.stl_98 {
	letter-spacing: 0.0008em;
}

.ie .stl_98 {
	letter-spacing: 0.0145px;
}
.stl_99 {
	font-size: 1.17em;
	font-family: "KRJWUN+ÐÂËÎÌå", "Times New Roman";
	color: #000000;
}
